<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        #di{background-color: aqua; 
            align-content: center;
          border-top-left-radius:10px ;
          border-top-right-radius:10px;
          border: 20vh;
        

        }
        body{ background-color: aliceblue;


        }
        
    </style> -->
</head>
<body>
   
<div id="di">
    <h1>WELCOME SIGN UP PAGE</h1>
</div>
<div>
    <form action="saveUsers" method="post">
   <p class="p1">NAME:<input type="text"  name="name" placeholder="name"></p>
   <!-- <p class="p1">LFNAME:<input type="text"  name="lname" placeholder="name"></p> -->
   <p class="p1">PASSWORD:<input type="password"  name="password" placeholder="password"></p>
   <p class="p1">EMAIL:<input type="email" name="email" placeholder="Email"></p>
   <p class="p1">PHONE NO:<input type="tel" name="phonenum" placeholder="phone number"></p>
   <input type="submit" style="background-color:rgb(141, 228, 60);"  value="signup"  ></button>
</form>
</div>

   
     
</body>
</html>